@use "../../../styles/variables.scss";

.mat-column-id {
  width: 1.875rem;
}

.mat-column-filename {
  max-width: 5rem;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-dell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {
  transition: background-color 100ms;
}

.row:hover {
  background-color: variables.$primary;
}

.row_active {
  background-color: variables.$primary-25;
}

.paginator {
  margin-top: 0.9375rem;

  @media (max-width: variables.$md) {
    display: flex;
    justify-content: center;
  }
}

.notFound {
  font-size: 1.125rem;
  padding: 0.625rem 0;
  display: flex;
  justify-content: center;
}
