<table mat-table [dataSource]="audioDataSource">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let audio">{{ audio.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let audio">{{ audio.name }}</td>
  </ng-container>
  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef>Filename</th>
    <td mat-cell *matCellDef="let audio">{{ audio.filename }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    class="row"
    [class.row_active]="audioPlayer.currentTrack?.id === myRowData.id"
    (click)="onRowClick(myRowData.id)"
    mat-row
    *matRowDef="let myRowData; columns: displayedColumns"
  ></tr>
</table>
