$dark: rgb(0 0 0 / 0.87);
$darker: rgb(39 39 42);
$darkest: rgb(32 33 36);

$light: rgb(0 0 0 / 30%);
$lighter: rgb(198 198 198);

$primary: rgb(255 230 162);
$secondary: rgb(223 68 68);

$md: 600px;
