@use "../../../styles/variables.scss";

:host {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;

  @media (max-width: variables.$md) {
    flex-direction: column;
  }
}

.progress {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media (max-width: variables.$md) {
    width: 100%;
  }
}

.progress-slider {
  margin: 0 1.25rem;
  flex-grow: 1;
}

.timer {
  margin-left: 0.9375rem;
  display: flex;
  gap: 0.3125rem;
}

.volume {
  @media (max-width: variables.$md) {
    width: 100%;
  }
}
