<app-player-control-panel
  [isPlaying]="audioPlayer.isPlaying"
  [index]="audioPlayer.getGlobalTrackIndex(audioPlayer.currentTrack?.id ?? 0)"
  [total]="audioPlayer.total"
  (onPlayClick)="onPlay()"
  (onPauseClick)="onPause()"
  (onNextClick)="onNext()"
  (onStopClick)="onStop()"
  (onPreviousClick)="onPrevious()"
/>
<div class="progress">
  <mat-slider
    class="progress-slider"
    discrete
    min="0"
    [max]="audioPlayer.duration"
    step="0.1"
    [disabled]="!audioPlayer.currentTrack"
    [displayWith]="formatLabel"
  >
    <input
      matSliderThumb
      [value]="audioPlayer.time"
      (dragEnd)="onProgressSliderDragEnd($event)"
    />
  </mat-slider>
  <div class="timer">
    <span
      >{{ formatLabel(audioPlayer.time) }} /
      {{ formatLabel(audioPlayer.duration) }}</span
    >
  </div>
</div>
<app-player-volume-panel
  class="volume"
  [isMuted]="audioPlayer.isSoundOff"
  (onMuteButtonClick)="onMuteButtonClick($event)"
  (onVolumeChange)="onVolumeChange($event)"
/>
