.title {
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.main {
  padding: 1.25rem;
  position: relative;
  margin-bottom: 3.75rem;
}

.loading-shade {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 15%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  display: flex;
  justify-content: center;
  padding-bottom: 0.625rem;
}

.status-title {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.divider {
  padding: 0.625rem 0;
}

.player {
  margin-top: 0.9375rem;
}
